<!doctype html>
<html>
	<head>
		<title>Banners</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
		<link rel="stylesheet" href="assets/css/728x90.css">
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/textfill.min.js"></script>
		<script src="assets/js/main.js"></script>
	</head>
	<body>

		<div class="et-banner">

			<!-- Scene 1 -->
			<section class="et-scene et-scene-1" style="background-image: url('assets/img/hatter-1.jpg');">
				<div class="et-banner-header">
					<div class="et-thumb">
						<img class="et-image" src="assets/img/logo-1.svg">
					</div>
				</div>
				<div class="et-banner-content">
					<div class="et-heading et-slogan">
						<span>Otthon a család</span>
					</div>
				</div>
			</section>

			<!-- Scene 2 -->
			<section class="et-scene et-scene-2" style="background-image: url('assets/img/hatter-2.jpg');">
				<div class="et-banner-header">
					<div class="et-thumb">
						<img class="et-image" src="assets/img/logo-1.svg">
					</div>
					<div class="et-stickers">
						<img class="et-image" src="assets/img/sticker-1.png">
					</div>
				</div>
				<div class="et-banner-content">
					<div class="et-heading et-product">
						<span>1112 Budapest, Kőoltár utca 2.</span>
					</div>
				</div>
			</section>
			

			<!-- Scene 3 -->
			<section class="et-scene et-scene-3" style="background-image: url('assets/img/hatter-2.jpg');">
				<div class="et-banner-header">
					<div class="et-thumb">
						<img class="et-image" src="assets/img/logo-1.svg">
					</div>
				</div>
				<div class="et-banner-content">
					<div class="et-heading et-paragraph">
						<span>Új ütem!</span>
					</div>
					<div class="et-heading et-slogan">
						<span>Válasszon most!</span>
					</div>
				</div>
				<div class="et-banner-footer">
					<div class="et-phone">
						<span>06-20-123-4567</span>
					</div>
					<div class="et-action">
						<button class="et-button">Kattintson!</button>
					</div>
				</div>
			</section>
			

		</div>


	</body>
</html>